$color-red: #ff0000;
$color-guardsman-red: #CC0000;
$color-white: #FFF;
$color-black: #000;
$color-alto: #D3D3D3;
$color-jungle-mist: #ABCED4;
$color-gallery: #EEEEEE;
$color-st-tropaz: #2b5797;
$color-studio: #603cba;
$color-cod-gray: #1d1d1d;