$color-red: #ff0000;
$color-guardsman-red: #CC0000;
$color-white: #FFF;
$color-black: #000;
$color-alto: #D3D3D3;
$color-jungle-mist: #ABCED4;
$color-gallery: #EEEEEE;
$color-st-tropaz: #2b5797;
$color-studio: #603cba;
$color-cod-gray: #1d1d1d;
$color-limed-spruce: #2E3A44;

$menu-colors: (
    menu-color-1: #074678,
    menu-color-2: #077678 ,
    menu-color-3: #84E1D8 ,
    menu-color-4: #63E830 ,
    menu-color-5: rgb(10, 231, 95) ,
    menu-color-6: rgb(154, 174, 190) ,
    menu-color-7: rgb(248, 244, 12) ,
    menu-color-8: #F69204 ,
    menu-color-9: #5608E7 ,
    menu-color-10: #EC363F ,
    menu-color-11: #A22F76 ,
    menu-color-12: #8F2D87 ,
);