$item-width : 30vmin;
$total-stories: 10;
$total-pages: 12;

%menu-item {
    position: relative;
    border-radius: 0.2rem;
    transition: 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
}