$item-width : 30vmin;
$total-stories: 10;
$total-pages: 12;

%menu-item {
    position: relative;
    border-radius: 0.2rem;
    transition: 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
}

$icomoon-font-path: "../font" !default;

$happiness-is__icon--facebook2: "\ea91";
$happiness-is__icon--location: "\e947";
$happiness-is__icon--unlocked: "\e990";
$happiness-is__icon--hour-glass: "\e979";
$happiness-is__icon--pacman: "\e916";
$happiness-is__icon--airplane: "\e9af";
$happiness-is__icon--aid-kit: "\e998";
$happiness-is__icon--embed2: "\ea80";
$happiness-is__icon--loop2: "\ea2e";
$happiness-is__icon--heart: "\e9da";
$happiness-is__icon--play: "\e912";
$happiness-is__icon--html-five: "\eae4";

