@font-face {
  font-family: 'happiness-is';
  src:
    url('asset/font/happiness-is.ttf?ootd8m') format('truetype'),
    url('asset/font/happiness-is.woff?ootd8m') format('woff'),
    url('asset/font/happiness-is.svg?ootd8m#happiness-is') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="happiness-is__icon--"], [class*=" happiness-is__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'happiness-is' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.happiness-is__icon--play:before {
  content: "\e912";
}
.happiness-is__icon--pacman:before {
  content: "\e916";
}
.happiness-is__icon--location:before {
  content: "\e947";
}
.happiness-is__icon--hour-glass:before {
  content: "\e979";
}
.happiness-is__icon--unlocked:before {
  content: "\e990";
}
.happiness-is__icon--aid-kit:before {
  content: "\e998";
}
.happiness-is__icon--airplane:before {
  content: "\e9af";
}
.happiness-is__icon--menu3:before {
  content: "\e9bf";
}
.happiness-is__icon--heart:before {
  content: "\e9da";
}
.happiness-is__icon--loop2:before {
  content: "\ea2e";
}
.happiness-is__icon--embed2:before {
  content: "\ea80";
}
.happiness-is__icon--facebook2:before {
  content: "\ea91";
}
.happiness-is__icon--html-five:before {
  content: "\eae4";
}
