.menu-wrapper {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    pointer-events: none;
}

.menu {
    list-style-type: none;
    pointer-events: auto;
    min-width: 8rem;
}

.menu-item {
    min-height: 3vh;
    position: relative;
    width: 8rem;
    margin: 0.8rem 0;

    &:hover +
    .menu-item
    .menu-link {
        width: 8.5rem;
        right: 0rem;
    }

    &:hover +
    .menu-item +
    .menu-item
    .menu-link {
        width: 8rem;
        right: -0.5rem;
    }
}

.menu-link {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    text-align: right;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    background-color: $color-guardsman-red;
    transition: .5s;
    position: absolute;
    width: 8rem;
    right: -1rem;
    display: block;
    text-decoration: none;
    color: $color-white;

    &:hover {
        right: 0rem;
        width: 9rem;
        background-color: $color-black;
    }
}

a:target + .card {
    background-color: $color-alto;
}