-
    const storyList =data.happinessis.story

card
    each story in storyList
        .card-group
            h1=story.title
            .card-body
                each line in story.lines
                    h2=line