.menu {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 0;
    margin: 0;
}

.menu-input {
    display: none;
}

.menu-back-button {
    position: fixed;
    bottom: 0;
    right: 0;
    color: $color-white;
    background-color: $color-studio;
    padding: 5vw;
    padding-right: 1vw;
    transition: 0.25s;
    border-top-left-radius: 100%;
    z-index: 99999;
}

.menu-wrapper {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // pointer-events: none;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    // background-color: $color-cod-gray;
}

#menu-back-button {
    display: none;

    &:not(:checked) ~ .menu .menu-item {
        transform: scaleX(0) scaleY(0);
    }

    &:checked ~ #menu-back-button {
        bottom: -10vh;
    }
}

.menu-background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 50vh;
    border-top-left-radius: 100%;
    transition: 0.35s ease-out;
    opacity: 0;
    
    #menu-back-button:checked + & {
        background-color: $color-limed-spruce;
        border-top-left-radius: 0%;
        top: 0vh;
        opacity: 1;
    }
}

.menu-item {
    @extend %menu-item;
}

.menu-item {
    @extend %menu-item;

    &:hover {
    background-color: $color-guardsman-red;
    }

    @for $i from 1 through $total-pages {
        &:nth-of-type(#{$i}) {
            transition-delay: 1s * $i / 50;
        }
    }
}

//This varition is only for "about" menu.
.menu-item-color {
    @extend %menu-item;

    background-color: $color-st-tropaz;
}

.menu-link {
    text-decoration: none;
    color: $color-white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
