.menu {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    padding: 0;
    margin: 0;
}

.menu-input {
    display: none;

    @for $i from 1 through $total-pages {
        &:nth-of-type(#{$i}):checked + .card {
            left: 0;
        }
    }
}

.menu-back-button {
    position: fixed;
    bottom: -0.1rem;
    right: -0.1rem;
    color: $color-white;
    background-color: $color-studio;
    min-width: 5rem;
    min-height: 5rem;
    // padding-right: 1vmin;
    transition: 0.25s;
    border-top-left-radius: 100%;
    border: 0.1rem solid $color-white;

    &:after {
        content: 'Menu';
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

#menu-back-button:checked ~ .menu-back-button {
    right: -100vmin;
}

.menu-wrapper {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // pointer-events: none;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    // background-color: $color-cod-gray;
}

#menu-back-button {
    display: none;

    &:not(:checked) ~ .menu .menu-item {
        transform: scaleX(0) scaleY(0);
    }

    &:checked ~ #menu-back-button {
        bottom: -10vh;
    }
}

.menu-background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 50vh;
    border-top-left-radius: 100%;
    transition: 0.35s ease-out;
    opacity: 0;
    
    #menu-back-button:checked + & {
        background-color: $color-limed-spruce;
        border-top-left-radius: 0%;
        top: 0vh;
        opacity: 1;
    }
}

.menu-item {
    position: relative;
    width: $item-width;
    height: $item-width;
    margin: 1vw;
    background-color: $color-studio;
    border-radius: 0.2rem;
    transition: 0.75s;

    @extend %menu-item;

    &:hover {
    background-color: $color-guardsman-red;
    }

    @for $i from 1 through $total-pages {
        &:nth-of-type(#{$i}) {
            transition-delay: 0.025s * $i;
        }
    }
}

//This varition is only for "about" menu.
.menu-item-color {
    @extend %menu-item;

    background-color: $color-st-tropaz;
}

.menu-link {
    text-decoration: none;
    color: $color-white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}
