.menu {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 0;
    margin: 0;
}

.menu-input {
    display: none;
}

.menu-back-button {
    position: fixed;
    bottom: 0;
    right: 0;
    color: $color-white;
    background-color: $color-studio;
    padding: 5vw;
    padding-right: 1vw;
    border-top-left-radius: 100%;
    z-index: 99999;
}

.menu-wrapper {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // pointer-events: none;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    // background-color: $color-cod-gray;
}

#menu-back-button {
    display: none;

    &:not(:checked) ~ .menu .menu-item {
        transform: scaleX(0) scaleY(0);
    }
}

.menu-background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 50vh;
    border-top-left-radius: 100%;
    transition: 0.35s ease-out;
    opacity: 0;
    
    #menu-back-button:checked + & {
        background-color: $color-limed-spruce;
        border-top-left-radius: 0%;
        top: 0vh;
        opacity: 1;
    }
}

.menu-item {
    position: relative;
    width: $item-width;
    height: $item-width;
    justify-content: center;
    align-items: center;
    margin: 1.2vw;
    display: flex;
    background-color: $color-studio;
    border-radius: 0.2rem;
    transition: 0.75s;

    &:hover {
    background-color: $color-guardsman-red;
    }
}

//This varition is only for "about" menu.
.menu-item-color {
    @extend .menu-item;
    background-color: $color-st-tropaz;
}

.menu-link {
    text-decoration: none;
    color: $color-white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    margin-left: 6rem;
    margin-bottom: 2.5rem;
    position: fixed;
    left: 100vh;
}

.card:target {
    text-decoration: underline;;
}

@for $i from 1 through 10 {
    .card:nth-of-type(#{$i}):target ~ .test {
        right: 20px * $i;
    }
}
