.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: space-around;
    padding: 0;
    margin: 0;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 30vmin);
    // grid-template-rows: repeat(4, 20vmin);

}

.menu-input {
    display: none;

    @for $i from 1 through $total-pages {
        &:nth-of-type(#{$i}):checked + .card {
            left: 0;
        }
    }
}

#menu-back-button:checked ~ .menu-back-button {
    right: -100vmin;
}

.menu-wrapper {
    list-style-type: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu-back-button {
    display: none;

    &:not(:checked) ~ .menu .menu-item {
        transform: scaleX(0) scaleY(0);
    }

    &:checked ~ #menu-back-button {
        bottom: -10vh;
    }
}

.menu-background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 50vh;
    border-top-left-radius: 100%;
    transition: 0.35s ease-out;
    opacity: 0;
    
    #menu-back-button:checked + & {
        background-color: $color-limed-spruce;
        border-top-left-radius: 0%;
        top: 0vh;
        opacity: 1;
    }
}

.menu-item {
    position: relative;
    width: $item-width;
    height: $item-width;
    margin: 1vw;


    @extend %menu-item;
    
    @for $i from 1 through $total-pages {
        &:nth-of-type(#{$i}) {
            transition-delay: 0.025s * $i;
            text-decoration: #{$i};
            left: 0vh;
        }
    }
    &:before {
        content: attr(bla);
        position: absolute;
        color:  $color-white;
        top: 85%;
        text-align: center;
    }
}

$colourIndex: 1;
@each $color, $value in $menu-colors {
    section:nth-of-type(12n + #{$colourIndex}) .menu-link {
        background-color: map-get($menu-colors, $color);
    }
    .card:nth-of-type(12n + #{$colourIndex}) {
        background-color: map-get($menu-colors, $color)
    }
    $colourIndex: $colourIndex + 1;
}

//This varition is only for "about" menu.
.menu-item-color {
    @extend %menu-item;

    // background-color: $color-st-tropaz;
}

.menu-link {
    text-decoration: none;
    color: $color-white;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.5vw solid $color-white;
    font-size: 10vw;
    width: 60%;
    padding-bottom: 60%;
    background-color: $color-studio;
    border-radius: 100%;
    transition: 0.75s;
    position: relative;

    &:hover {
        background-color: $color-guardsman-red;
    }

    &:after {
        position: absolute;
        font-size: 6vmin;
        display: flex;
        top: 0;
        bottom: 0;
        align-items: center;
        content: "\ea91";
        @extend %super-happy;
    }
}

.menu-back-button {
    position: fixed;
    width: 20vw;
    height: 20vw;
    right: 5vw;
    bottom: 8vw;
    color: $color-white;
    background-color: $color-studio;
    transition: 0.25s;
    border-radius: 100%;
    border: 1vw solid $color-white;
    font-size: 10vw;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 5rem;
    // min-height: 5rem;
    transition: 0.25s;
}

.menu-label-content {
    font-size: 4vw;
    display: inline-block;
    width: 30vw;
    position: absolute;
    text-align: center;
    bottom: -6vw;
    font-family: 'Open Sans', sans-serif;
}

