.card {
    // margin-left: 6rem;
    // margin-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 300vw;
    top: 0;
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
    color: $color-white;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.card:target {
    text-decoration: underline;
}
