doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    -
      const {title, description, youandme}=data.happinessis.meta
    title=title
    meta(name="description" content=description)
  body
    include _component/menu/menu


link(rel="stylesheet", href=`${baseUrl}/style.css`)
