@import '_component/config/color';
@import '_component/config/font-family';
@import '_component/config/common';
@import '_component/config/body';
@import '_component/config/typography';
@import '_component/menu/menu';


*,
*:before,
*:after {
    box-sizing: border-box;
}


